#chart-area svg {
    margin:auto;
    display:inherit;
}
text {
    font: 10px sans-serif;
}
form {
    position: absolute;
    right: 10px;
    top: 10px;
}
.legends5 {
    float:left;
    margin-right: 1em;
}
.country-name {
    margin: 0 !important;
}
.key-dot {
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}

